body{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 40px;
  background-color: #fccbd1;
  color: #222222;
}

h1{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 1000;
}

h2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 1000;
}

button{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  width: 100px;
}

/* .showSearchContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid;
  margin: 75px;
  padding: 15px;
} */

/* Search */
.searchSection{
  margin: 60px;
  border: 1px solid #222222;
  padding: 15px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.search{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.genreSearchContainer,
.showSearchContainer {
  display: flex;
  align-items: center;
}

.searchBar{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  width: 200px;
  margin-right: 10px;
}

.genreDropdown {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

/* Recommendations */
.recSection{
  margin: 60px;
  border: 1px solid #222222;
  padding: 15px; 
}

.saveButtonContainer {
  display: flex;
  gap: 5px;
}

/* Watch List */
.watchListSection{
  margin: 60px;
  border: 1px solid #222222;
  padding: 15px; 
}