body {
    font-family: Georgia, serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    width: 250px;
    padding: 10px;
    background-color: #c0c0c0;
}
#createEvent {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#tabTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
#note {
    display: flex;
    flex-direction: column;
}
#noteBox {
    height: 40px;
    margin-bottom: 10px;
}

#btn { 
    background-color: #6db687; 
    color: rgb(255, 255, 255); 
    border: none; 
    margin-left: 2px; 
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    align-items: center;
}

.btn:hover { 
    background-color: #0056b3; 
}

.favicon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.reminder {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.reminderTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

.reminderDate {
    font-size: 14px;
}

#eventList {
    background-color: #6db687;
    width: 250px;
    min-height: 300px;
    border-radius: 10px;
}

.reminders {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

h1 {
    color: rgb(209, 252, 209);
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
