body {
    font-family: Georgia, serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    width: 200px;
    padding: 10px;
}

button { 
    background-color: #67a9f0; 
    color: white; border: none; 
    padding: 8px 16px; 
    cursor: pointer; }

button:hover { 
    background-color: #0056b3; 
}